
body {
    background-color: rgb(19, 19, 22);
    color: rgb(161, 241, 31);
}


section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 50vh;
}

.hidden {
    opacity: 0;
    transition: all 5s;
}

.show {
    opacity: 1;
}

.transform-item {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-100%);
    transition: all 5s;
}

.show-transform {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.language {
    margin-bottom: 20px;
}


.image {
    justify-self: end;
}


.language-info {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
  
  @media screen and (min-width: 600px) {
    .language-info {
      grid-template-columns: repeat(3, 1fr);
    }
  }


