body {
    background-color: rgb(21, 32, 43);
    color: white;
}



.about_div {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-columns: 2fr 1fr;
    place-items: start;
}

.about_item {
    margin-right: 15px;
}

#info_bubble {
    border: 1px solid;
    border-radius: 10px;
    padding: 30px;
    
}

